* {
	margin: 0px;
	padding: 0px;
	border: 0px;
	outline: 0;
}

body {
	background-color: black;
}

.mamenu {
	text-align: center;
	justify-content: center;
	margin: auto;
	padding: 0px 10px;
	color: white;
	font-family: Ubuntu;
	text-decoration: none;
}

.mamenu:hover {
	color: red;
}

.ctr-white {
	font-family: Ubuntu;
	text-align: center;
	color: white;
}

.ctr-red {
	font-family: Ubuntu;
	text-align: center;
	color: red;
}

.zakruglenie {
	border-radius: 10px;
}

@font-face {
	font-family: 'Ubuntu';
	src: url(files/fonts/Ubuntu.ttf);
}