* {
	margin: 0px;
	padding: 0px;
	border: 0px;
	outline: 0;
}

body {
	background-color: black;
}

.mamenu {
	text-align: center;
	justify-content: center;
	margin: auto;
	padding: 0px 10px;
	color: white;
	font-family: Ubuntu;
	text-decoration: none;
}

.mamenu:hover {
	color: red;
}

.ctr-white {
	font-family: Ubuntu;
	text-align: center;
	color: white;
}

.ctr-red {
	font-family: Ubuntu;
	text-align: center;
	color: red;
}

.zakruglenie {
	border-radius: 10px;
}

@font-face {
	font-family: 'Ubuntu';
	src: url(files/fonts/Ubuntu.ttf);
}

a.anim {
	animation-duration: 4s;
	animation-name: anim1;
	animation-iteration-count: infinite;
}

@keyframes anim1 {
	0% {
		color: yellow; background-color: black;
	}

	25% {
		color: rgb(0, 238, 255); background-color: black;
	}

	50% {
		color: red; background-color: black;
	}

	75% {
		color: rgb(0, 238, 255); background-color: black;
	}
	100% {
		color: yellow; background-color: black;
	}
}