* {
	margin:0px;
	padding:0px;
	border:0px;
	outline:0;
}
body {
	background-color: black;
}
.menu {
    text-align: center;
    text-decoration: none;
    background-color: white;
    color: black;
    display: inline-block;
    padding: 5px 5px;
    font-family: Ubuntu;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
}
.menu2 {
    text-align: center;
    text-decoration: none;
    background-color: rgb(255, 105, 180);
    color: black;
    display: inline-block;
    padding: 5px 5px;
    font-family: Ubuntu;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
}
.header {
	height: 74px;
}
div.hd1 {
	height: 70px;
	background-color: black;
}
div.hdln {
	height: 2px;
	background-color: white;
}
.name {
	font-family: Ubuntu;
	text-align: center;
	color: white;
}
.ctr {
	text-align: center;
	color: white;
}
.navg {
    text-align: center;
	margin-top: 10px;
}
.zakr {
      border-radius: 10px;
}
@font-face {
	font-family: Ubuntu;
	src: url(https://fonts.googleapis.com/css2?family=Ubuntu&display=swap);
} 
